body, html {
    height: 100%;
    margin: 0;
}

.background {
    background-image: url(skocko-dodatno/game-background.jpg);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.instructions {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.settings {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
}

.header {
    text-align: center;
    color: darkred;
    font-weight: bold;
    font-size: 70px;
}

.myTable td {
    padding-bottom: 10px;
    padding-right: 5px;
}

.myTable2 td {
    padding-bottom: 22px;
    padding-right: 5px;
}

.logo_settings {
    width: 90px;
}

.logo_game {
    width: 60px;
}

.guess {
    width: 50px;
}

.timer {
    text-align: center;
    color: darkred;
    font-weight: bold;
    font-size: 40px;
}

.newGame {
    color: darkred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 20px;
}